<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Market</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Movie Market</a>
      <a href="/recommended">Recommended</a>
      <a href="/social">Social</a>
      <a href="/search">Search</a>
    </div>
    <div class="web_title">
      <h1 style="font-size:80px">Movie Market</h1>
    </div>
    <form method = 'post' action = 'search'>
      <input name = "form_name" type = "hidden" value = 'SEARCHFORM'/>
      <div class = "search">
        <input placeholder = "John Wick..." class = "search_bar" type = "text" name = "search_term" value = "{{search_term}}">
        &nbsp;
        <input class = "search_button" type = "image" src = "http://www.myiconfinder.com/uploads/iconsets/256-256-6cc6135dbcdd8f769c00fcc7440dd898-popcorn.png" value = "Search">
        </div>
    </form>

      <form method = 'post' action = 'search'>
        {% for movie in searched_movies %}
          <div class = "result">
            <img src = "https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <div class = "result_inner">
              <h1>{{ movie.title }}</h1>
              <p>{{ movie.overview }}</p>
            </div>
            <input type = "checkbox" name = "mov{{loop.index}}" value = "{{movie.id}}"></li>
          </div>
        {% endfor %}
        <input name = "form_name" type = "hidden" value = 'SUBMITFORM'/>
        <div class = "search">
          <input class = "submit_button" type = "submit" name = "submit" value = "Submit">
        </div>
      </form>

  </body>
</html>
