<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
      {% for movie in favorite_movies %}
        <div class = "result">
          <img src = "https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <div class = "result_inner">
            <h1>{{ movie.title }}</h1>
            <p>{{ movie.overview }}</p>
          </div>
        </div>
      {% endfor %}
    <form method = "post" action = "social">
      <input type="submit"  value = "compare">
    </form>
  </body>
</html>
