<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1>Search for movies based on your streaming subscription</h1>
      <!-- <script> </script> -->
        <link="https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com/lookup?term=bojack&country=uk">
      <input id="text" type="text" style="width:20%"/>
      <button>Find More Movies By Streaming Services</button>
      <p>Results</p>
        <div v-html="utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com">
    </body>
  </head>
</html>
